{% extends 'shared/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
    {% block product_styles %} <link rel="stylesheet" href="{% static 'css/products.css' %}"> {% endblock %}

{% block content %}
<h1>Add new product</h1>
    <div class="create-product">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    {{ form|crispy }}

    {{ formset.management_form|crispy }}
    {% for form in formset %}
        <p>{{ form }}</p>
    {% endfor %}
        <div class="add-item">
        <button type="submit" class="btn btn-success">Add item</button>
            </div>
    </form>
    </div>
{% endblock %}